{% extends 'base.html' %}
{% load static %}
{% load watermark %}
{% block content %}



<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="bo-links">
                    
                    <a href="/">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                
                    <!-- <a href="."><i class="fa fa-home"></i> Home</a> -->
                    <span style="float: right;">{{ category.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->



<div class="container mb-4">
            <div class="row" style="display: flex;">

            {% for item in category.products.all %}
            <div class="col-md-3 p-0" style="flex:33.33%; text-align: center;">


                <a href="{{ item.get_absolute_url }}">
                    <img class="img-responsive" src="{{ item.image.url|watermark:'MeShutter,position=C,opacity=85' }}" alt=""
                        style="max-width: 480;max-height:auto;">
                </a>



            </div>
            {% endfor %}

        </div>
</div>

{% endblock %}