{% extends 'base.html' %}
{% load static %}
{% load watermark %}
{% block content %}



<div class="category">
    <div class="container-fluid">
        <div class="row">
            {% for item in category.products.all %}
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="{{ item.image.url|watermark:'MeShutter,position=C,opacity=85' }}" />
                    <a class="category-name" href="{{ item.get_absolute_url }}">
                        <p>{{ item.category }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}