{% extends 'base.html' %}
{% load static %}
{% block title %}| {{ category }} {{ block.super }} {% endblock %}
{% block content %}



<div class="category">
    <div class="container-fluid">

        <div class="row">



            {% if item in categories %}
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="{{ item.image.url }}" />
                    <a class="category-name" href="{{ item.get_absolute_url }}">
                        <p>{{ item }}</p>
                    </a>
                </div>
            </div>
            {% endif %}


            {% for item in products %}
           <div class="col-md-3">
                <div class="category-item ch-400">
                   
                    <a class="" href="{{ item.get_absolute_url }}">
                        <img src="{{ item.image.url }}" />
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}