        {% load static %}
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="/">
                                <img src="{% static 'img/R.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <form action="{% url 'product:search' %}" method="">
                                <input type="text" placeholder="Search" name="q">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="{% url 'cart:cart' %}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>{{ cart_count }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>