{% extends 'base.html' %}

{% load static %}
{% block title %}{{title}} |{{ block.super }}{% endblock %}
{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="bo-links">
                    
                    <a href="/">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                
                    <!-- <a href="."><i class="fa fa-home"></i> Home</a> -->
                    <span style="float: right;">{{ title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
    <div class="container">
        {% if apply_form %}
        <div class="row">
            <div class="col-md-7">
                Seller Terms and Conditions
                <hr>
            </div>
            <div class="col-md-5">
                <form class="" action="" method="post">
                    <h4>Seller Registration</h4>
                    {% csrf_token %}
                    {{ apply_form.as_p }}

                    <input class="btn btn-primary rounded-pill" type="submit" name="" value="Submit">
                </form>


            </div>
        </div>


        {% endif %}

    </div>


    <section class="mb-4">
        <div class="container">
            {% if products %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">

                        {% include "products/snippets/product_list_snippets.html" with product=products %}

                    </div>
                    <p class="center-text">
                        <a href="{% url 'seller:create' %}" class="btn btn-outline-warning">Add Products</a>
                    </p>
                    <p>
                        <a href="{% url 'seller:seller_products' %}" class="btn btn-outline-info">View Products</a>
                    </p>
                </div>


                {% endif %}

                <div class="col-lg-6">
                    {% if transactions %}
                    <h4>My Transactions</h4>
                    {% include 'sellers/transaction_list.html' with transaction_list=transactions %}

                    <a href="{% url 'seller:transactions' %}">All Transactions</a>
                    {% endif %}
                </div>

            </div>

        </div>
    </section>

    {% endblock %}