{% extends "base.html" %}
{% load static %}
{% block title %} Sales Report |{{ block.super }}{% endblock %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="bo-links">
                    
                    <a href="/">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                
                    <!-- <a href="."><i class="fa fa-home"></i> Home</a> -->
                    <span style="float: right;">All Transactions</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

{{ queryset }}

<div class="container-fluid">
    {% include 'sellers/transaction_list.html' with transaction_list=object_list %}
</div>




{% endblock %}